version: "3"
services: 
  postgresqlSolicitudes:
    image: postgres:13
    container_name: 'postgresql_solicitudes'
    restart: always
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=eliascolon98
      - POSTGRES_DB=solicitudes_bd
    volumes:
      - pgdata:/data/postgresqlSolicitudes
    ports: 
      - 5432:5432
  appbackend_nest:
    build:
      context: ./
      dockerfile: Dockerfile
    image: node
    container_name: 'appbackendsolicitudNest'
    environment: 
      - DB_HOST=postgresqlSolicitudes
    restart: always
    ports:
      - "3000:3000"
    depends_on: 
      - postgresqlSolicitudes
volumes:
  pgdata:
    driver: local